body{
  background-image: url('./instruments.jpg');
  font-family: "Snell roundhand", cursive;
  font-weight: bold;
}

h1,h2,h3{
  font-size: 30pt;
  background-color: lightgrey;
  padding: 4px;
  border-radius: 8px;
}

h2{
  font-size: 25pt;
}
h3{
  font-size: 20pt;

}
label{
  background-color: lightgrey;
  padding: 4px;
  border-radius: 8px;
  margin: 0px;
}

p,li{
  font-weight: normal;
  font-size: 18pt;
  background-color: lightgrey;
  padding: 4px;
  border-radius: 8px;
}
